html,body{
    width: 100%;
    height: 100%;
}
/* icon color */
.icon-color-blue{
    color: #3b90f7;
}
.icon-color-green{
    color: #9bb93d;
}
.icon-color-orange{
    color: #cf6f2d;
}
.icon-color-gray{
    color: #9b9b9b;
}

/* container */
.im-container{
    width: 100%;
}
/* header */
.im-header{
   width: 100%;
   height: 50px;
   background-color: #fafafa; 
}
/* logo */
.im-logo{
    display: inline-block;
    padding-left: 230px; 
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.im-logo-title{
    display: inline-block;
    font-size: 15px;
}
/* content */
.im-content{
    width: 100%;
    height: 100%;
}
.im-docs-select-area{
    padding-top: 42px;
    width: 100%;
    height: 144px;
    text-align: center;
    border-top: 1px solid #f6f6f6;
    border-bottom : 1px solid #f6f6f6;
    background:-webkit-linear-gradient(#f2f5f9,#fff);
    background:-o-linear-gradient(#f2f5f9,#fff);
    background:-moz-linear-gradient(#f2f5f9,#fff);
    background:linear-gradient(#f2f5f9,#fff);
}
.im-content-info{
    padding-bottom: 18px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-select-area{
    width: 156px;
    height: 32px;
}
/* link area */
.im-link-area{
    margin: 0 auto;
    width: 800px;
}
.im-quick-start{
    padding-top: 44px; 
    text-align: center;
}
.im-quick-start .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-quick-start .im-p-title{
    padding-bottom: 24px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-quick-start .im-link-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-quick-start .im-item{
    padding-top: 13px;
    width: 389px;
    height: 114px;
    border: 1px solid #d8d8d8;
}
.im-quick-start .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-quick-start .im-item .im-h-text{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-quick-start .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-quick-start .im-item:hover{
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    border-radius: 2px;
}
/* 服务器端集成 */
.im-server-integration{
    padding-top: 60px; 
    text-align: center;
}
.im-server-integration .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-server-integration .im-p-title{
    padding-bottom: 24px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-server-integration .im-link-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-server-integration .im-item{
    padding-top: 13px;
    width: 258px;
    height: 114px;
    border: 1px solid #d8d8d8;
}
.im-server-integration .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-server-integration .im-item .im-h-text{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-server-integration .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-server-integration .im-item:hover{
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    border-radius: 2px;
}
/* 客户端集成 */
.im-client-integration{
    padding-top: 60px; 
    text-align: center;
}
.im-client-integration .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-client-integration .im-p-title{
    padding-bottom: 24px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-client-integration .im-link-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;
}
.im-client-integration .im-link-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-client-integration .im-link-wrap .im-item{
    padding-top: 13px;
    width: 388px;
    height: 164px;
    border: 1px solid #d8d8d8;
}
.im-client-integration .im-link-wrap .im-item.android{
    border: 1px solid #a2b752;
}
.im-client-integration .im-link-wrap .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-client-integration .im-link-wrap .im-item .im-h-text{
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-client-integration .im-link-wrap .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-client-integration .im-link-wrap .im-ul-list{
    margin: 0 auto;
    padding-top: 10px;
    width: calc(100% - 50px);
    height: 60px;
}
.im-client-integration .im-link-wrap .im-li-item{
    margin-bottom: 10px;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 13px;
}
.im-client-integration .im-link-wrap .im-item:hover{
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    border-radius: 2px;
    border: none;
    border-top: 4px solid #92bc12;
    border-left: 1px solid #92bc12; 
    border-right: 1px solid #92bc12;
    border-bottom: 1px solid #92bc12; 
}
.im-client-integration .im-link-wrap .im-item.gray:hover{
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    border-radius: 2px;
    border: none;
    border-top: 4px solid #9b9b9b;
    border-left: 1px solid #9b9b9b; 
    border-right: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b; 
}
.im-client-integration .im-link-item .im-item{
    padding-top: 13px;
    width: 388px;
    height: 138px;
    border: 1px solid #d8d8d8;
}
.im-client-integration .im-link-item .im-item.client{
    border: 1px solid #cf6f2d;
}
.im-client-integration .im-link-item .im-item.wechat{
    border: 1px solid #a2b752;
}
.im-client-integration .im-link-item .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-client-integration .im-link-item .im-item .im-h-text{
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-client-integration .im-link-item .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-client-integration .im-link-item .im-ul-list{
    margin: 0 auto;
    padding-top: 10px;
    width: calc(100% - 50px);
    height: 60px;
}
.im-client-integration .im-link-item .im-li-item{
    margin-bottom: 10px;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 13px;
}
.im-client-integration .im-link-item .im-item:hover{
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    border-radius: 2px;
    border: none;
    border-top: 4px solid #92bc12;
    border-left: 1px solid #92bc12; 
    border-right: 1px solid #92bc12;
    border-bottom: 1px solid #92bc12; 
}
.im-client-integration .im-link-item .im-item.client:hover{
    border: none;
    border-top: 4px solid #cf6f2d;
    border-left: 1px solid #cf6f2d; 
    border-right: 1px solid #cf6f2d;
    border-bottom: 1px solid #cf6f2d; 
}
.im-client-integration .im-footer-info{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.im-client-integration .im-footer-info a:hover{
    text-decoration: underline;
}
/* 扩展功能 */
.im-extend{
    padding-top: 60px; 
    text-align: center;
}
.im-extend .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-extend .im-p-title{
    padding-bottom: 24px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-extend .im-link-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-extend .im-item{
    padding-top: 13px;
    width: 388px;
    height: 114px;
    border: 1px solid #d8d8d8;
}
.im-extend .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-extend .im-item .im-h-text{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-extend .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-extend .im-item:hover{
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    border-radius: 2px;
}
/* 其他 */
.im-other{
    padding-top: 60px; 
    text-align: center;
}
.im-other .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-other .im-p-title{
    padding-bottom: 24px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-other .im-link-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-other .im-item{
    padding-top: 13px;
    width: 258px;
    height: 114px;
    border: 1px solid #d8d8d8;
}
.im-other .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-other .im-item .im-h-text{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-other .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-other .im-item:hover{
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    border-radius: 2px;
}
/* 下载 */
.im-download{
    padding-top: 60px; 
    text-align: center;
}
.im-download .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-download .im-p-title{
    padding-bottom: 24px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-download .im-link-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;
}
.im-download .im-link-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-download .im-link-wrap .im-item{
    position: relative;
    padding-top: 13px;
    width: 388px;
    height: 138px;
    border: 1px solid #d8d8d8;
}
.im-download .im-link-wrap .im-item.android,
.im-download .im-link-item .im-item.wechat{
    border: 1px solid #a2b752;
}
.im-download .im-link-wrap .im-item.gray{
    border: 1px solid #9b9b9b;
}
.im-download .im-link-item .im-item.client{
    border: 1px solid #c4733d;
}
.im-download .im-link-wrap .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-download .im-link-wrap .im-item .im-h-text{
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-download .im-link-wrap .im-download-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.im-download .im-link-wrap .gray .im-download-info{
    border-top: 1px solid #f9f9f9;
}
.im-download .im-link-wrap .android .im-download-info{
    border-top: 1px solid #f0f4de;
}
.im-download .im-link-wrap .im-sdk-download,
.im-download .im-link-wrap .im-demo-download{
    position: relative;
    float: left;
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
}
.im-download .im-link-wrap .im-sdk-download:after{
    position: absolute;
    content: '';
    right: 0;
    top: 10px;
    width: 1px;
    height: 30px;
    background-color: #ccc;
}
.im-download .im-link-wrap .im-item:hover{
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    border-radius: 2px;
    border: none;
    border-top: 4px solid #92bc12;
    border-left: 1px solid #92bc12; 
    border-right: 1px solid #92bc12;
    border-bottom: 1px solid #92bc12;
}
.im-download .im-link-wrap .im-item.gray:hover{
    border: none;
    border-top: 4px solid #9b9b9b;
    border-left: 1px solid #9b9b9b; 
    border-right: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
}
.im-download .im-link-item .im-item{
    position: relative;
    padding-top: 13px;
    width: 388px;
    height: 138px;
    border: 1px solid #d8d8d8;
}
.im-download .im-link-item .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-download .im-link-item .im-item .im-h-text{
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-download .im-link-item .im-download-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.im-download .im-link-item .client .im-download-info{
    border-top: 1px solid #f7eadd;
}
.im-download .im-link-item .wechat .im-download-info{
    border-top: 1px solid #f0f4de;
}

.im-download .im-link-item .im-sdk-download,
.im-download .im-link-item .im-demo-download{
    position: relative;
    float: left;
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
}
.im-download .im-link-item .im-demo-download.client{
    width: 100%;
}
.im-download .im-link-item .im-sdk-download:after{
    position: absolute;
    content: '';
    right: 0;
    top: 10px;
    width: 1px;
    height: 30px;
    background-color: #ccc;
}
.im-download .im-link-item .im-item:hover{
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    border-radius: 2px;
    border: none;
    border-top: 4px solid #a2b752;
    border-left: 1px solid #a2b752; 
    border-right: 1px solid #a2b752;
    border-bottom: 1px solid #a2b752;
}
.im-download .im-link-item .im-item.client:hover{
    border: none;
    border-top: 4px solid #c4733d;
    border-left: 1px solid #c4733d; 
    border-right: 1px solid #c4733d;
    border-bottom: 1px solid #c4733d;
}
/* footer */
.im-footer{
    margin-top: 140px;
    width: 100%;
    height: 50px;
    border-top: 1px soild #ccc;
    background-color: #fafafa;
}
.im-footer p{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    color: #a3a3a3;
}
