html,body{
    width: 100%;
    height: 100%;
}
/* icon color */
.icon-color-blue{
    color: #3b90f7;
}
.icon-color-green{
    color: #9bb93d;
}
.icon-color-orange{
    color: #cf6f2d;
}
.icon-color-gray{
    color: #9b9b9b;
}
.fa-normal{
    font-size: 1.63333333em;
    line-height: .75em;
    vertical-align: -15%;
}
.im-item-wrap{
    display: inline-block;
    padding-top: 13px;
    width: 100%;
    height: 100%;
}
/* container */
.im-container{
    width: 100%;
}
/* header */
.im-header{
   width: 100%;
   height: 50px;
   background-color: #fafafa; 
   border-bottom: 1px solid #e7e7e7;
}
/* logo */
.im-logo{
    display: inline-block;
    padding-left: 230px; 
    /* width: 100%; */
    height: 50px;
    line-height: 50px;
    cursor: default;
}
.im-official-website{
    float: right;
    padding-right: 230px;
    font-size: 14px;
    color: #4a4a4a;
    height: 50px;
    line-height: 50px;
}
.im-logo-img{
    display: inline-block;
    width: 24px;
    height: 19px;
    vertical-align: middle;
    background: url(../lib/images/logo.png) center no-repeat;
    background-size: cover;
}
.im-logo-title{
    display: inline-block;
    position: relative;
    top: 1px;
    font-size: 16px;
    color: #777;
}
/* content */
.im-content{
    width: 100%;
    height: 100%;
}
.im-docs-select-area{
    padding-top: 42px;
    width: 100%;
    height: 144px;
    text-align: center;
    border-top: 1px solid #f6f6f6;
    border-bottom : 1px solid #f6f6f6;
    background:-webkit-linear-gradient(#f2f5f9,#fff);
    background:-o-linear-gradient(#f2f5f9,#fff);
    background:-moz-linear-gradient(#f2f5f9,#fff);
    background:linear-gradient(#f2f5f9,#fff);
}
.im-content-info{
    padding-bottom: 18px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-select-area{
    margin: 0 auto;
    width: 156px;
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
}
/* link area */
.im-link-area{
    margin: 0 auto;
    width: 800px;
}
.im-quick-start{
    padding-top: 44px; 
    text-align: center;
}
.im-quick-start .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-quick-start .im-p-title{
    padding-bottom: 24px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-quick-start .im-link-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-quick-start .im-item{
    width: 389px;
    height: 114px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}
.im-quick-start .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-quick-start .im-item .im-h-text{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-quick-start .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-quick-start .im-item:hover{
    -webkit-box-shadow: #ccc 0px 2px 10px;
    -moz-box-shadow: #ccc 0px 2px 10px;
    box-shadow: #ccc 0px 2px 10px;
    border-radius: 2px;
}
/* 服务器端集成 */
.im-server-integration{
    padding-top: 60px; 
    text-align: center;
}
.im-server-integration .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-server-integration .im-p-title{
    padding-bottom: 24px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-server-integration .im-link-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-server-integration .im-item{
    width: 258px;
    height: 114px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}
.im-server-integration .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-server-integration .im-item .im-h-text{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-server-integration .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-server-integration .im-item:hover{
    -webkit-box-shadow: #ccc 0px 2px 10px;
    -moz-box-shadow: #ccc 0px 2px 10px;
    box-shadow: #ccc 0px 2px 10px;
    border-radius: 2px;
}
/* 客户端集成 */
.im-client-integration{
    padding-top: 60px; 
    text-align: center;
}
.im-client-integration .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-client-integration .im-p-title{
    padding-bottom: 24px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-client-integration .im-link-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;
}
.im-client-integration .im-link-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-client-integration .im-link-wrap .im-item{
    padding-top: 13px;
    width: 388px;
    height: 164px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}
.im-client-integration .im-link-wrap .im-item.android{
    border: 1px solid #a2b752;
}
.im-client-integration .im-link-wrap .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-client-integration .im-link-wrap .im-item .im-h-text{
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-client-integration .im-link-wrap .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-client-integration .im-link-wrap .im-ul-list{
    margin: 0 auto;
    padding-top: 10px;
    width: calc(100% - 50px);
    height: 60px;
}
.im-client-integration .im-link-wrap .im-li-item{
    margin-bottom: 10px;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 13px;
}
.im-client-integration .im-link-wrap .im-item:hover{
    -webkit-box-shadow: #ccc 0px 2px 10px;
    -moz-box-shadow: #ccc 0px 2px 10px;
    box-shadow: #ccc 0px 2px 10px;
    border-radius: 2px;
    border: none;
    border-top: 4px solid #92bc12;
    border-left: 1px solid #92bc12; 
    border-right: 1px solid #92bc12;
    border-bottom: 1px solid #92bc12; 
}
.im-client-integration .im-link-wrap .im-item.gray:hover{
    -webkit-box-shadow: #ccc 0px 2px 10px;
    -moz-box-shadow: #ccc 0px 2px 10px;
    box-shadow: #ccc 0px 2px 10px;
    border-radius: 2px;
    border: none;
    border-top: 4px solid #9b9b9b;
    border-left: 1px solid #9b9b9b; 
    border-right: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b; 
}
.im-client-integration .im-link-item .im-item{
    padding-top: 13px;
    width: 388px;
    height: 138px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}
.im-client-integration .im-link-item .im-item.client{
    border: 1px solid #cf6f2d;
}
.im-client-integration .im-link-item .im-item.wechat{
    border: 1px solid #a2b752;
}
.im-client-integration .im-link-item .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-client-integration .im-link-item .im-item .im-h-text{
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-client-integration .im-link-item .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-client-integration .im-link-item .im-ul-list{
    margin: 0 auto;
    padding-top: 10px;
    width: calc(100% - 50px);
    height: 60px;
}
.im-client-integration .im-link-item .im-li-item{
    margin-bottom: 10px;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 13px;
}
.im-client-integration .im-link-item .im-item:hover{
    -webkit-box-shadow: #ccc 0px 2px 10px;
    -moz-box-shadow: #ccc 0px 2px 10px;
    box-shadow: #ccc 0px 2px 10px;
    border-radius: 2px;
    border: none;
    border-top: 4px solid #92bc12;
    border-left: 1px solid #92bc12; 
    border-right: 1px solid #92bc12;
    border-bottom: 1px solid #92bc12; 
}
.im-client-integration .im-link-item .im-item.client:hover{
    border: none;
    border-top: 4px solid #cf6f2d;
    border-left: 1px solid #cf6f2d; 
    border-right: 1px solid #cf6f2d;
    border-bottom: 1px solid #cf6f2d; 
}
.im-client-integration .im-footer-info{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.im-client-integration .im-footer-info a {
    color: #4d91f0;
}
.im-client-integration .im-footer-info a:hover{
    text-decoration: underline;
}
/* 扩展功能 */
.im-extend{
    padding-top: 60px; 
    text-align: center;
}
.im-extend .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-extend .im-p-title{
    padding-bottom: 24px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-extend .im-link-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-extend .im-item{
    width: 388px;
    height: 114px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}
.im-extend .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-extend .im-item .im-h-text{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-extend .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-extend .im-item:hover{
    -webkit-box-shadow: #ccc 0px 2px 10px;
    -moz-box-shadow: #ccc 0px 2px 10px;
    box-shadow: #ccc 0px 2px 10px;
    border-radius: 2px;
}
/* 其他 */
.im-other{
    padding-top: 60px; 
    text-align: center;
}
.im-other .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-other .im-p-title{
    padding-bottom: 24px;
    font-size: 12px;
    color: #c1c1c1;
}
.im-other .im-link-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-other .im-item{
    width: 258px;
    height: 114px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}
.im-other .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-other .im-item .im-h-text{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-other .im-item .im-p-text{
    font-size: 12px;
    color: #c1c1c1;
}
.im-other .im-item:hover{
    -webkit-box-shadow: #ccc 0px 2px 10px;
    -moz-box-shadow: #ccc 0px 2px 10px;
    box-shadow: #ccc 0px 2px 10px;
    border-radius: 2px;
}
/* 下载 */
.im-download{
    padding-top: 60px; 
    text-align: center;
}
.im-download .im-h-title{
    padding-bottom: 17px;
    font-size: 20px;
    color: #000;
}
.im-download .im-p-title{
    display: inline-block;
    padding-bottom: 24px;
    font-size: 12px;
    color: #4d91f0;
}
.im-download .im-p-title:hover{
    text-decoration: underline;
}
/* .im-download .im-link-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;
}
.im-download .im-link-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.im-download .im-link-wrap .im-item{
    position: relative;
    padding-top: 13px;
    width: 388px;
    height: 138px;
    border: 1px solid #d8d8d8;
}
.im-download .im-link-wrap .im-item.android,
.im-download .im-link-item .im-item.wechat{
    border: 1px solid #a2b752;
}
.im-download .im-link-wrap .im-item.gray{
    border: 1px solid #9b9b9b;
}
.im-download .im-link-item .im-item.client{
    border: 1px solid #c4733d;
}
.im-download .im-link-wrap .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-download .im-link-wrap .im-item .im-h-text{
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-download .im-link-wrap .im-download-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.im-download .im-link-wrap .gray .im-download-info{
    border-top: 1px solid #f9f9f9;
}
.im-download .im-link-wrap .android .im-download-info{
    border-top: 1px solid #f0f4de;
}
.im-download .im-link-wrap .im-sdk-download,
.im-download .im-link-wrap .im-demo-download{
    position: relative;
    float: left;
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
}
.im-download .im-link-wrap .im-sdk-download:after{
    position: absolute;
    content: '';
    right: 0;
    top: 10px;
    width: 1px;
    height: 30px;
    background-color: #ccc;
}
.im-download .im-link-wrap .im-item:hover{
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    border-radius: 2px;
    border: none;
    border-top: 4px solid #92bc12;
    border-left: 1px solid #92bc12; 
    border-right: 1px solid #92bc12;
    border-bottom: 1px solid #92bc12;
}
.im-download .im-link-wrap .im-item.gray:hover{
    border: none;
    border-top: 4px solid #9b9b9b;
    border-left: 1px solid #9b9b9b; 
    border-right: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
}
.im-download .im-link-item .im-item{
    position: relative;
    padding-top: 13px;
    width: 388px;
    height: 138px;
    border: 1px solid #d8d8d8;
}
.im-download .im-link-item .im-item .im-icon{
    display: inline-block;
    width: 100%;
    height: 32px;
}
.im-download .im-link-item .im-item .im-h-text{
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.im-download .im-link-item .im-download-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.im-download .im-link-item .client .im-download-info{
    border-top: 1px solid #f7eadd;
}
.im-download .im-link-item .wechat .im-download-info{
    border-top: 1px solid #f0f4de;
}

.im-download .im-link-item .im-sdk-download,
.im-download .im-link-item .im-demo-download{
    position: relative;
    float: left;
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
}
.im-download .im-link-item .im-demo-download.client{
    width: 100%;
}
.im-download .im-link-item .im-sdk-download:after{
    position: absolute;
    content: '';
    right: 0;
    top: 10px;
    width: 1px;
    height: 30px;
    background-color: #ccc;
}
.im-download .im-link-item .im-item:hover{
    -webkit-box-shadow: #666 2px 2px 10px;
    -moz-box-shadow: #666 2px 2px 10px;
    box-shadow: #666 2px 2px 10px;
    border-radius: 2px;
    border: none;
    border-top: 4px solid #a2b752;
    border-left: 1px solid #a2b752; 
    border-right: 1px solid #a2b752;
    border-bottom: 1px solid #a2b752;
}
.im-download .im-link-item .im-item.client:hover{
    border: none;
    border-top: 4px solid #c4733d;
    border-left: 1px solid #c4733d; 
    border-right: 1px solid #c4733d;
    border-bottom: 1px solid #c4733d;
} */
/* footer */
.im-footer{
    margin-top: 140px;
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    border-top: 1px solid #e7e7e7;
}
.im-footer p{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    color: #a3a3a3;
}

.right-layer {
  position: fixed;
  top: 30%;
  right: 0;
  width: 255px;
  height: 177px;
  background-image: url(3.0x.png?20220307);
  background-image: -webkit-image-set(url(3.0x.png?20220307) 1x, url(3.0x@2x.png?20220307) 2x);
}
.right-layer .u-close {
  position: absolute;
  top: 65px;
  left: 10px;
  width: 16px;
  height: 16px;;
}
.right-layer .u-close img {
  display: block;
  width: 100%;
}
.right-layer .u-view {
  position: absolute;
  left: 25px;
  bottom: 20px;
  width: 76px;
  height: 24px;
  font-size: 12px;
  color: #fff;
  line-height: 24px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .im-header {
    display: flex;
    justify-content: space-between;
  }
  .im-logo {
    padding-left: 0;
    margin-left: 10px;
  }
  .im-official-website {
    padding-right: 0;
    margin-right: 10px;
  }
  .im-link-area {
    width: 100%;
  }
  .im-client-integration .im-link-wrap .im-ul-list,
  .im-client-integration .im-link-item .im-ul-list {
    width: calc(100% - 10px);
  }
}
